<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Slackfari.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SlackfariExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>392759E01F43692800BF003C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392759F11F43692800BF003C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392759FC1F43692800BF003C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39275A121F43693300BF003C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
